# Python
__pycache__/
*.pyc
.venv/
backend/app/_artifacts/
backend/.env
backend/blockchain/AuditTrail.abi.json

# Node
node_modules/
frontend/dist/
frontend/.env

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
